@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
       }

    a{
   color: white;
   }

     body{ 
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
       }

       .navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 50px;
   background-color: #326FB9;
   color: white;
   position: relative;
       }
        .navbar img {
   width: 80px;
   height: 50px;
   border-radius: 15%;
       }
       .nav-links {
   display: flex;
   gap: 10px;
       }
       .nav-links li {
   font-weight: bold;
   cursor: pointer;
       }
        .cart {
   position: absolute; 
   }
    .cart-itms {
   display: none;
   position: absolute;
   top: 50px;
   left: 400px;
   background-color: white;
   color: black;
   width: 700px;
   height: auto ;
   border-radius: 0px 6px 6px 6px ;
   padding: 10px;
   box-shadow: 0 5px 15px 8px rgba(0,0,0,0.5);
   z-index: 1000;  
   }
    .cart-itms.active {
   display: block;
   }
    .cart-items {
   display: flex;
   justify-content: space-between;  
   }
    .item {
   border-radius: 5px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 680px;
   height: 100px;
   background-color:#E65100;
   margin: 5px;
   padding:5px;
   color: white;
   }
    .item img{
   border-radius: 5px;
   width: 30px;
   }
    .item button{
   width:55px;
   margin: 0px;
   background-color: white;
   }
    .total{
   font-size: 20px;
   margin: 5px;
   font-weight: bold;
   text-align: center;
   }
    .check-out{
   font-size: 18px;
   background-color: #4CAF50;
   margin: 20px;
   }
    .cart-toggle {
   font-size: 3rem;
   margin-left: 900px;
   cursor: pointer;  
   } 
   .menu-toggle{
    display: none; 
    }
   
       
       .container{
   font-size: 25px;
   background-color: white;
   padding: 20px;
   text-align: center;
   }
     .hero img{
    width: 300px;
    height: 430px;
    border-radius: 6px;
    margin-bottom: 10px;
    }
      .bio{
    color: black;
    font-size: 22px;
    text-align: center;
    padding:10px;
    }

    button{
    font-size: 22px;
    width: 350px;
    padding: 15px;
    border-radius: 70px;
    background-color: #326FB9;
    border: none;
    color: white;
    margin: 10px 0 100px 0;
    font-size: 20px;
    cursor: pointer;
    }
   
   
      .info{
   background-color: whitesmoke;
   text-align:center;
   font-size: 48px;
   color: #326FB9;
   font-weight: bold;
   padding: 20px ;
     }
      .products{
    font-size: 20px;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 20px;
   padding: 20px;
   background-color:#D8D0C0;
   justify-items: center;
     }
       .products img{
        font-size: 20px;
   width: 300px;
   height: 400px;
   border-radius: 3px;
       }
       .add-to-cart{
   width: 200px;
   height: 50px;
   border-radius: 70px;
   background-color: orange;
   border: none;
   color: white;
   cursor: pointer;
       }
       .price{
   text-align: center;
   font-size: 22px;
   font-weight: bold;
   margin: 5px 0;
       }
       .products > div{
   background-color: white;
   padding: 15px;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   align-items: center;
       }
   
       
       footer{
    font-size: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #326FB9;
    padding: 10px 0;
       } 
       footer p{
        font-size: 18px;
         font-style: italic;
       }
       footer img{
   border-radius: 50%;
   width: 70px;
   height: 70px;
       }
   
       
       
   span{
   padding:6px;
   background-color: white;
   border-radius: 10%;
   }
   .color{
   padding: 2px;
   }

   .about-title{
    color: #E65100;
   }
   .about-cont{
  font-size: 20px;
 color: rgb(22, 3, 3);
 padding: 60px;
 background-color: rgb(244, 244, 247);
 line-height: 1.6;
   }

@media (min-width: 300px) and (max-width: 1124px){
  body{ 
    font-size: 14px;
    background-color: #E65100;
         }
         .cart-toggle {
          font-size: 3rem;
          margin-left: 400px;
          cursor: pointer;  
          } 
          #menu-toggle{
           display: block;
           margin-left: 500px; 
           color: white;
           font-size: 3rem;
           }
           #nav-links {
            display: none;
           flex-direction: column;
           position: absolute;
           top: 110px;
           right: 18px;
           background-color: #326FB9;  
            border-radius: 0px 0px 5px 5px;
            padding: 10px;
           }
           #nav-links.active {
            display: block;
           }
           #nav-links li {
           margin: 5px;
           }
              .hero img{
    width: 550px;
    height: 755px;
    border-radius: 6px;
    margin-bottom: 10px;
    }
  .cart-itms {
    display: none;
    position: absolute;
    top: 70px;
    left: 100px;
    background-color: white;
    color: black;
    width: 700px;
    height: auto ;
    border-radius: 0px 6px 6px 6px ;
    padding: 10px;
    box-shadow: 0 5px 15px 8px rgba(0,0,0,0.5);
    z-index: 1000;  
    }
}